[default]
#每一项不能留空，不需要可以乱填一个
#使用的网盘，gd or od
usedrive = gd
#下载文件夹路径，以/开头
destination_path = /ikoadownloads
#日志路径，以/开头
log_path = /ikoalogs
#用户名
adminuser = admin
#密码
adminpassword = passwd
#是否合并
merge_bool = true
#ikoa序列码
serial_code = good
#是否仅下载月额
monthly_only = true
#输出文件名字规则，cid or num
output_filename = cid
#socket通讯密钥，首次自动生成，删除下次启动即可再次生成
secret_key = 
#程序运行的端口
runport = 5000
#一次执行的个数(比如一次添加10个，down_time = 5 代表下载五个再上传五个，以此类推)
down_time = 1
#假如使用gd，那么配置是个人账户还是service accounts(personal or sa),使用个人账户请配置rclone_4.conf
accounts = personal

[rclone_conf_gd]
#gd的folder id
team_drive_id = 123




